DB_HOST=db
DB_PORT=5432
DB_PUBLIC_PORT=5433
DB_NAME=proyecto2
DB_USER=proy2
DB_PASSWORD=secret
BACKEND_PORT=8080
FRONTEND_PORT=5173
FRONTEND_ORIGIN=http://localhost:5173
VITE_API_URL=http://localhost:8080
